<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home Page</title>
</head>
<body>
    <%- include('./partials/body') %>
    <%- include('./partials/navbar') %> 
</body>
</html>